* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.modal-body {
  width: 500px;
}

.modal-resume {
  max-width: 60vh;
  max-height: 50%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 30px;

  @include respond(phone) {
    padding: 10px;
  }
}
